RewriteEngine On
RewriteBase /

# Protect the htaccess file
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Protect discord logo
<Files ./discordicon.png>
Order Allow,Deny
Deny from all
</Files>

#protect script.js
<Files ./script.js>
Order Allow,Deny
Deny from all
</Files>



# Disable directory browsing
Options All -Indexes
